.tab,
.dropdown {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    /*border: 1px solid #ccc;*/
    background-color: #f1f1f1;
    justify-content: space-evenly;
    border-radius: 5px;
}

/* Style the buttons inside the tab */
.dropdown button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    flex: 1;
    border-radius: 5px;
}

/* Create an active/current tablink class */
.dropdown button:hover, .dropdown button.active {
    background-color: #ddd;
}

/* Style the tab content */
.dropdown-content {
    background-color: #f1f1f1;
    display: none;
    padding: 12px 12px;
    border: 1px solid #ccc;
    border-top: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    background-color: #f1f1f1;
    color: black;
    padding: 12px 24px;
    margin: 4px 2px;
    text-decoration: none;
    display: inline-block; /*block;*/
    flex: 1;
    border-radius: 5px;
    transition: 0.3s;
    /*float: left; /*center;*/
}

.dropdown-content a:hover {
    background-color: #ddd;
}


.title-img{
    width: 40%;
    height: auto;
    margin: 12px;
    content: url("/Images/Banner/Banner_Light.png");
}

/* Font */
body,
.head-title,
.footer_container,
.footer_container button,
.tab,
.tabcontent,
.tab button,
.subtab,
.subtabcontent,
.subtab button,
.dropdown,
.dropdown-content,
.dropdown button,
.menu-flex-container,
.menu-flex-item,
.menu-flex-item button,
.menu-link-table,
.menu-link-table-item,
.menu-link-table-item button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.head-title {
    background-color: #f1f1f1;
    color: black;
    border-radius: 5px;
}

.pagetitle {
    padding: 12px;
}

.footer_container {
    background-color: #f1f1f1;
    color: black;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    overflow: hidden;
    border: none;
}

.footer_container button {
    background-color: #f1f1f1;
    color: black;
    padding: 12px 16px;
    margin: 4px 2px;
    border-radius: 5px;
    cursor: pointer;
}

.footer_container button:hover {
    background-color: #ddd;
}

.tab,
.subtab {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    border: none;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    border-radius: 5px;
    margin: 4px 2px;
}

.subtab button {
    background-color: inherit;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 6px 12px;
    transition: 0.3s;
    font-size: 15px;
    flex-grow: 1;
    border: none;
    border-radius: 5px;
    margin: 4px 2px;
}

.subtab {
    position: sticky;
      top: 0;
}

.tab button:hover,
.subtab button:hover,
.tab button.active,
.subtab button.active {
    background-color: #ddd;
}

/* Style the tab content */
.tabcontent,
.subtabcontent {
    display: none;
    padding: 6px 12px;
    /*border: 1px solid #ccc;*/
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Image Grid */
.grid-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 20px;
}

.grid-item {
    flex: 1;
    text-align: center;
    font-size: 14px;
    background-color: #ccc;
    border-radius: 5%;
    max-width: 256px;
    min-width: 64px;
    min-height: 64px;
    box-sizing: border-box;
}

.grid-title {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: #ccc;
    border-radius: 5%;
    max-width: 256px;
    min-width: 64px;
    min-height: 64px;
    box-sizing: border-box;
}

.grid-seperator {
    flex: 1;
    display: flex;
    font-size: 14px;
    border-radius: 5%;
    max-width: 256px;
    min-width: 64px;
    min-height: 64px;
    box-sizing: border-box;
}

.grid-img {
    width: 100%;
    height: auto;
}


/* Menu Link Tables */

.menu-link-table-group-parent {
    display: inline-flex;
    flex-wrap: wrap;
}

.menu-link-table-parent {
    display: inline;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
}

.menu-link-table {
    display: flexbox;
    background-color: #f1f1f1;
    text-align: center;
    margin: 12px 12px;
    table-layout: fixed;
    border-collapse: collapse;
    /*width: 48%;*/
    flex-wrap: wrap;
    border-radius: 5px;
}

.menu-link-table td {
    width: 33%;
    height: 16.67%;
    /*padding: 10px;*/
}

.menu-link-table-title {
    margin: 16px;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: content;
    /*font-weight: bold;*/
    font-size: 24px;
}

.menu-link-table-label {
    margin-top: 20px;
    margin-bottom: 10px;
    /*margin-left: 12px;
    margin-right: 12px;*/
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: content;
    /*font-weight: bold;*/
    font-size: 20px;
}

.menu-link-table-item {
    margin: 6px;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: content;
}

.menu-link-table-item button {
    background-color: #ccc;
    padding: 12px 24px;
    margin: 4px 2px;
    width: 100%;
    height: 100%;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    /*display: inline-block;*/
    border-radius: 5px;
    transition: 0.3s;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.menu-link-table-item button:hover {
    background-color: #ddd;
}

/*.menu-flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #f1f1f1;
    justify-content: space-evenly;
    text-align: center;

    max-width: 40%;
    max-height: 60%;
    grid-template-columns: auto auto auto;
    /*display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    overflow: hidden;
    border: none;
    background-color: #f1f1f1;


    max-width: 40%;
    max-height: 60%;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 32px;
    border-radius: 5px;*/
/*}

.menu-flex-item{
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    flex-grow: 1;
    flex-shrink: 1;
    flex: 1;
    /*text-align: center;
    background-color: #f1f1f1;
    border-radius: 5%;
    box-sizing: border-box;
    padding: 4px 4px;
    margin: 2px 2px;
    max-width: 256px;
    min-width: 64px;
    min-height: 64px;*/
/*}

.menu-flex-item button {
    display: inline-block;
    flex: 1;
    background-color: #ddd;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    
    /*font-size: 17px;
    color: black;
    text-decoration: none;
    border-radius: 5%;
    max-width: 256px;
    min-width: 64px;
    min-height: 64px;
    padding: 12px 16px;*/
/*}

.menu-flex-item button:hover {
    background-color: #ccc;
}*/



/*.menu-flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f1f1f1;
    justify-content: space-evenly;
    border-radius: 5px;
}

/* Style the tab content */
/*.menu-flex-item {
    background-color: #f1f1f1;
    padding: 12px 12px;
    border: 1px solid #ccc;
    border-top: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.menu-flex-item button {
    background-color: #f1f1f1;
    color: black;
    padding: 12px 24px;
    margin: 4px 2px;
    text-decoration: none;
    display: inline-block;
    flex: 1;
    border-radius: 5px;
    transition: 0.3s;
}

/*-------------------------------------------------------*/
/* ----------------------Dark Mode---------------------- */
/*-------------------------------------------------------*/

@media (prefers-color-scheme: dark) {

    body,
    .tab,
    .tabcontent,
    .tab button,
    .subtab,
    .subtabcontent,
    .subtab button {
        background-color: #1a1a1a;
        color: white;
    }

    .head-title {
        background-color: #0d0d0d;
        color: white;
    }

    .title-img {
        content: url("Images/Banner/Banner_Dark.png");
    }

    .footer_container {
        background-color: #0d0d0d;
        color: white;
    }

    .footer_container button {
        background-color: #1a1a1a;
        color: white;
    }

    .footer_container button:hover {
        background-color: #3e3e3e;
    }

    .dropdown, .dropdown button, .dropdown-content a {
        background-color: #0d0d0d;
        color: white;
    }

    .dropdown button:hover, .dropdown button.active {
        background-color: #3e4446;
    }

    .dropdown-content a {
        background-color: #1a1a1a;
        color: white;
    }

    .dropdown-content a:hover {
        background-color: #3e4446;
    }

    .dropdown-content {
        background-color: #0d0d0d;
        border: 1px solid #3e4446;
    }



    /* Style the buttons inside the sub-tab */
    .tab button,
    .subtab button {
        background-color: #1a1a1a;
    }

    /* Style the tab */
    .tab,
    .subtab {
        background-color: #0d0d0d;
    }

    .tab button:hover,
    .subtab button:hover,
    .tab button.active,
    .subtab button.active {
        background-color: #3e4446;
    }

    /* Style the tab content */
    .tabcontent,
    .subtabcontent {
        /*border: 1px solid #3e4446;*/
        background-color: #0d0d0d;
    }

    .grid-item, .grid-title {
        background-color: #131415;
    }

    /* Menu Link Tables */
    .menu-link-table {
        background-color: #131415;
        color: white;
    }

    .menu-link-table-item button {
        background-color: #1a1a1a;
        color: white;
    }

    .menu-link-table-item button:hover {
        background-color: #3e3e3e;
        color: white;
    }

}